@font-face {
  font-family: "Assistant Light";
  src: url("./../public/resources/fonts/Assistant-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Assistant ExtraLight";
  src: url("./../public/resources/fonts/Assistant-ExtraLight.ttf") format("opentype");
}

$lightColor: #F7F7F9;
$darkColor: #1F2F4F;